@use 'fonts' as *;
@use 'breakpoints' as *;

body {
    background: #092135;
    background: linear-gradient(4deg, #7383cc, #e79fc1 , #8bd8e4);
    background-size: 900% 900%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
    color: white;
    width: 100vw;
    height: 100%;
    font-family: $lato;
}

main {
    width: 80%;

    margin: 0 auto 80px auto;
    @include media-min($desktop-xl) {
        max-width: 1200px;
    }
}

.block {
    margin-bottom: 40px;
}

.miniblock {
    margin-bottom: 8px;
}

.layout {
    height: 45vh;
}
