@use 'fonts' as *;

body {
    background: #092135;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: $lato;
    &::before {
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        background: url('../../assets/background.jpg');
        background-size: cover;
        filter: blur(5px);
        z-index: -1; /* Keep the background behind the content */
        -webkit-background-size: cover; /* pour Chrome et Safari */
        -moz-background-size: cover; /* pour Firefox */
        -o-background-size: cover; /* pour Opera */
        background-size: cover; /* version standardisée */
    }
}

main {
    width: 80%;
    margin: 0 auto;
}

.block {
    margin-bottom: 40px;
}

.miniblock {
    margin-bottom: 8px;
}

