@mixin shadow {
    box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
    -webkit-box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
    -moz-box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
}
@mixin shadowNavbar {
    box-shadow: 10px 15px 26px -10px rgba(160, 177, 212, 0.404);
    -webkit-box-shadow: 10px 15px 26px -10px rgba(160, 177, 212, 0.404);
    -moz-box-shadow: 10px 15px 26px -10px rgba(160, 177, 212, 0.404);
}

.pink,
.orange,
.yellow,
.aquamarine,
.blue,
.violet {
    width: 2%;
    height: auto;
    border-radius: 15px 0 0 15px;
}

.pink {
    background: #F7AAC6;
}
.orange {
    background: #FFBE96;
}
.yellow {
    background: #FCFFA4;
}
.aquamarine {
    background: #C2EEDC;
}
.blue {
    background: #CFE7F5;
}
.violet {
    background: #D6CFF5;
}
