@mixin shadow {
    box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
    -webkit-box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
    -moz-box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
}