@mixin shadow {
    box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
    -webkit-box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
    -moz-box-shadow: 10px 15px 26px -10px rgba(120,135,166,0.62);
}

.pink,
.yellow,
.aquamarine,
.blue,
.violet {
    width: 2%;
    height: 100%;
}

.pink {
    background: #F7AAC6;
}
.yellow {
    background: #FCFFA4;
}
.aquamarine {
    background: #C2EEDC;
}
.blue {
    background: #CFE7F5;
}
.violet {
    background: #D6CFF5;
}
