@use "fonts" as *;
@use "colors" as *;
@use "breakpoints" as *;

h1 {
    font-family: $lobster;
    font-size: 38px;
    // line-height: normal;
}

%p {
    color: $text-scale2;
    font-weight: 700;
    margin-bottom: 12px;
}

.date,
.price,
.address-name,
.transport {
    @extend %p;
}

@include media-max($tablet-m) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}
