@use "fonts" as *;
@use "colors" as *;
@use "breakpoints" as *;

h1 {
    font-family: $montserrat;
    font-size: 1.5vw;
    font-weight: 300;
    text-transform: uppercase;
    @include media-max($desktop-xs) {
        font-size: 3vw;
    }
    @include media-max($tablet-m) {
        font-size: 4vw;
    }
    @include media-max($mobile-l) {
        font-size: 5vw;
    }
}

%p {
    color: $text-scale2;
    font-weight: 700;
    margin-bottom: 12px;
}

.date,
.price,
.address-name,
.transport {
    @extend %p;
}

@include media-max($tablet-m) {
    h2 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}
