@use '../tools' as *;

body {
    display: flex;
    justify-content: center;
    font-family: $lato;
}
.card {
    display: flex;
    background: rgb(250, 241, 242);
    width: 80vw;
    height: 230px;
    border-radius: 15px;
    @include shadow;
    img {
        width: auto;
        height: 100%;
        border-radius: 15px 0 0 15px;
    }
    .tag {
        text-transform: lowercase;
        font-family: $lobster;
        font-style: italic;
        color: #83888a

    }
    .title {
        font-family: $rampart;
        color: #2a2e31

    }
    .date {
        color: #83888a;
        font-weight: 700;
        margin-bottom: 12px;
    }
    .text {
        padding: 2%;
        .description {
            color: #3f464b;
            height: 50%;
            overflow: scroll;
            cursor: ns-resize;
            line-height: 140%;
        }
    }


}