@use "../tools" as *;

body {
    display: flex;
    justify-content: center;
}

.card-and-cover__ctnr {
    display: flex;
    margin-top: 3%;
    align-items: center;
    justify-content: center;
    @include media-max($mobile-xl) {
        width: 100%;
        flex-direction: column;
        margin: 4vh 0;
    }
}
.cover {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 3vw;
    @include shadow;
    border: solid 3px white;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.05);
    }
    @include media-max($mobile-xl) {
        margin: 0 0 2vh 0;
        width: 150px;
        height: 150px;
    }
}

.card {
    width: 100%;
    display: flex;
    background: rgb(250, 241, 242);
    border-radius: 15px;
    @include shadow;
    .tags {
        text-transform: lowercase;
        font-family: $lobster;
        font-style: italic;
        color: $text-scale2;
    }
    .favori__ctnr {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .title {
        font-family: $rampart;
        color: $text-scale4;
        cursor: pointer;
        transition: all 0.3s;
        text-align: start;
        line-height: 110%;
        &:hover {
            color: #ffa36b;
            transform: scale(1.01);
        }
    }
    .text {
        padding: 2%;
        width: 100%;
        .description {
            color: $text-scale1;
            height: 50%;
            overflow: scroll;
            cursor: ns-resize;
            line-height: 140%;
        }
    }
}
