@use "../tools/" as *;

#event-details {
    color: $text-scale4;
    h1 {
        color: $text-scale1;
        font-family: $montserrat;
        padding: 5%;
        @include media-max($desktop-xs) {
            text-align: center;
        }
    }
    h2,
    h3,
    b {
        color: $text-scale4 !important;
        margin-bottom: 12px;
    }
    a {
        color: rgb(238, 111, 20);
    }
    .event-details__card {
        background: rgba($color: #ffffff, $alpha: 0.75);
        border-radius: 20px 20px 50px 20px;
        margin-bottom: 7vh;
        @include media-max($tablet-s) {
            border-radius: 35px;
            margin-bottom: 3vh;
        }
        &:not(.main__card) {
            padding: 3%;
            @include media-max($desktop-xs) {
                padding: 5%;
            }
        }
        .address-name,
        .transport {
            margin-bottom: 2px;
            color: $text-scale4;
        }
        .infos {
            color: $text-scale2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .inline-infos {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            img {
                margin-right: 12px;
            }
        }
    }

    .side-by-side__card {
        height: fit-content;
        &:nth-of-type(1) {
            width: 64%;
        }
        &:nth-of-type(2) {
            width: 34%;
        }
        @include media-max($desktop-xs) {
            &:nth-of-type(1),
            &:nth-of-type(2) {
                width: 100%;
            }
        }
    }

    .img-and-title__ctnr {
        display: flex;
        align-items: center;
        @include media-max($desktop-xs) {
            flex-direction: column;
        }
    }

    .event-details__card__ctnr {
        display: flex;
        justify-content: space-between;
        @include media-max($desktop-xs) {
            flex-direction: column;
        }
    }

    .cover-xl {
        width: 65%;
        height: auto;
        border-radius: 20px 0 0 20px;
        @include media-max($desktop-xs) {
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
    }

    .description__card {
        p {
            margin-bottom: 15px;
            font-size: 1.2rem;
            line-height: 160%;
            color: $text-scale4;
            @include media-max($tablet-s) {
                font-size: 16px;
            }
        }
        img {
            width: 100%;
            border-radius: 15px 15px 35px 15px;
        }
    }
}
