@use '../tools' as *;

body {
    display: flex;
    justify-content: center;
}


.card-and-cover__ctnr {
    display: flex;
    margin-top: 3%;
    align-items: center;
    justify-content: center;

}
.cover {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 3%;
    @include shadow;
    border: solid 3px white;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.05)
    }
}

.card {
    width: 100%;
    display: flex;
    background: rgb(250, 241, 242);
    border-radius: 15px;
    @include shadow;
    .tags {
        text-transform: lowercase;
        font-family: $lobster;
        font-style: italic;
        color: $text-scale2;

    }
    .favori__ctnr {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title {
        font-family: $rampart;
        color: $text-scale4;
        cursor: pointer;
        transition: all 0.3s;
        text-align: start;
        &:hover {
            color: #ffa36b;
            transform: scale(1.01)
        }
    }
    .favori {
        height: 40px;
        width: auto;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.12)
        }

    }
    .text {
        padding: 2%;
        width: 100%;
        .description {
            color: $text-scale1;
            height: 50%;
            overflow: scroll;
            cursor: ns-resize;
            line-height: 140%;
        }
    }
}
