@use '../tools/' as *;

%favorite {
    &::before {
        content: '';
        display: inline-block;
        width: 42px; 
        height: 42px;
        content:"";
        background-size: 100%;
        background-repeat: no-repeat;
        @include media-max($tablet-m) {
            width: 4vw;
            height: 100%;
        }
        @include media-max($mobile-l) {
            width: 5vw;
        }
    }
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
        transform: scale(1.12);
    }
}
.favorite-falsecolor {
    @extend %favorite;
    &::before {
        background-image: url('../../assets/coeur_inactive.png');
    }
}
.favorite-truecolor {
    @extend %favorite;
    &::before {
        background-image: url('../../assets/coeur.png');
    }
}