@use '../tools/' as *;

.home-content__ctnr {
    background: rgba($color: #ffffff, $alpha: 0.3);
    border-radius: 50px;
    .display-event-cards {
        padding: 7%;
        @include media-max($desktop-xs) {
            padding: 0;
        }
    }
    .card {
        border-radius: 15px 15px 35px 15px;
    }
    @include media-min($desktop-xs) {
        display: flex;
    }
    @include media-max($desktop-xs) {
        background: transparent;
    }
}
