@use "../tools/" as *;

.presentation__ctnr {
    @include media-min($desktop-xs) {
        display: flex;
    }
    @include media-max($desktop-xs) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3vh;
    }
    @include media-max($tablet-m) {
        display: block;
    }
}
.presentation,
.actu-title {
    padding: 3% 5%;
    @include media-max($desktop-xs) {
        padding: 10%;
    }
    @include media-max($tablet-m) {
        padding: 15%;
    }
}

.presentation {
    border-radius: 20px 20px 50px 20px;
    @include media-max($tablet-m) {
        border-radius: 10px 10px 60px 10px;
    }
    @include shadow;

    h1 {
        font-weight: 600;
        font-style: italic;
    }
    &:nth-of-type(1) {
        background-image: url("../../assets/paris.png");
        background-size: cover;
        background-position-x: right;
        position: relative;
        display: flex;
        justify-content: flex-end;
    }
    &:nth-of-type(2) {
        background: rgba(132, 106, 246, 0.3);
    }
    &:nth-of-type(3) {
        background: rgba(247, 170, 198, 0.644);
    }
    &:nth-of-type(4) {
        background: rgba(255, 190, 150, 0.3);
    }
    &:not(:nth-of-type(1)) {
        margin-left: 2%;
        @include media-max($desktop-xs) {
            margin-left: 0;
        }
    }
    @include media-min($desktop-xs) {
        margin-bottom: 7vh;
    }
    @include media-max($desktop-xs) {
        margin-bottom: 3vh;
        width: 100%;
    }
}

.actu-title {
    border-radius: 20px 20px 0 0;
    font-style: italic;
    font-weight: 500;
    color: rgb(255, 137, 156);
    background: linear-gradient(90deg, #efff96 10%, rgba(233, 105, 1, 0.4) 100%);
    display: flex;
    align-items: center;
    @include media-max($desktop-xs) {
        padding: 3%;
    }
    @include media-max($tablet-m) {
        margin-top: 6vh;
        border-radius: 10px 10px 0 0;
        padding: 6%;
        background: linear-gradient(90deg, #efff96 40%, #e694b2 100%);
    }
    @include media-max($mobile-xl) {
        h1 {
            font-size: 7vw;
        }
    }
}
