@use '../tools/' as *;

.search-input {
    padding: 3% 5%;
    border-radius: 10px;
    background: rgba($color: #ffffff, $alpha: 0.6);
    width: 100%;
    font-size: 30px;
    color: rgb(255, 163, 179);
    margin-bottom: 3vh;
    @include shadow;
    &::placeholder {
        color: #6688a3;
    }
}