@use '../tools/' as *;

.search-input__ctnr {
    display: flex;
    padding: 3% 5%;
    border-radius: 20px;
    background: rgba($color: #ffffff, $alpha: 0.3);
    width: 100%;
    margin-bottom: 3vh;
    @include shadow;
    .search-icon {
        width: 35px;
        height: 35px;
        margin-right: 35px;
    }
    .search-input {
        background: transparent;
        font-size: 30px;
        font-weight: 700;
        color: #FFA5C7;
        width: 100%;
        &::placeholder {
            color: $text-scale3;
        }
    }
}
