@use '../tools/' as *;

.search-input__ctnr {
    display: flex;
    padding: 3% 5%;
    border-radius: 20px;
    background: rgba($color: #ffffff, $alpha: 0.2);
    width: 100%;
    margin: 4vh 0;
    @include shadow;
    .search-icon {
        width: 35px;
        height: 35px;
        margin-right: 35px;
        @include media-max($mobile-xl) {
            margin-right: 12px;
        }
    }
    .search-input {
        background: transparent;
        font-size: 30px;
        font-weight: 700;
        color: white;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        &::placeholder {
            color: white;
            @include media-max($mobile-xl) {
                font-size: 14px;
                transform: translateY(-6px);
            }
        }
    }
}
