@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,500&display=swap");
body {
  background: #092135;
  background: linear-gradient(4deg, #7383cc, #e79fc1, #8bd8e4);
  background-size: 900% 900%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  color: white;
  width: 100vw;
  height: 100%;
  font-family: "Lato", sans-serif;
}

main {
  width: 80%;
  margin: 0 auto 80px auto;
}
@media (min-width: 1441px) {
  main {
    max-width: 1200px;
  }
}

.block {
  margin-bottom: 40px;
}

.miniblock {
  margin-bottom: 8px;
}

.layout {
  height: 45vh;
}

.pink,
.orange,
.yellow,
.aquamarine,
.blue,
.violet {
  width: 20px;
  height: auto;
  border-radius: 15px 0 0 15px;
}

.pink {
  background: #f7aac6;
}

.orange {
  background: #ffbe96;
}

.yellow {
  background: #fcffa4;
}

.aquamarine {
  background: #c2eedc;
}

.blue {
  background: #cfe7f5;
}

.violet {
  background: #d6cff5;
}

@-webkit-keyframes fromTheTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fromTheTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

fieldset,
button {
  border: none;
  background: none;
}

/* inputs */
input,
button,
textarea,
select {
  font-style: inherit;
  -webkit-padding-start: 0;
  align-items: flex-start;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit],
button {
  cursor: pointer;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

.date,
.price,
.address-name,
.transport {
  color: #7a8c9b;
  font-weight: 700;
  margin-bottom: 12px;
}

@media (max-width: 850px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }
}
body {
  display: flex;
  justify-content: center;
}

.card-and-cover__ctnr {
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .card-and-cover__ctnr {
    width: 100%;
    flex-direction: column;
    margin: 4vh 0;
  }
}

.cover {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 3vw;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.4);
  border: solid 3px white;
  cursor: pointer;
  transition: all 0.3s;
}
.cover:hover {
  transform: scale(1.05);
}
@media (max-width: 600px) {
  .cover {
    margin: 0 0 2vh 0;
    width: 150px;
    height: 150px;
  }
}

.card {
  width: 100%;
  display: flex;
  background: #faf1f2;
  border-radius: 15px;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.4);
}
.card .tags {
  text-transform: lowercase;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
  color: #7a8c9b;
}
.card .favori__ctnr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.card .title {
  font-family: "Montserrat", sans-serif;
  color: #2c6da0;
  cursor: pointer;
  transition: all 0.3s;
  text-align: start;
  line-height: 110%;
}
.card .title:hover {
  color: #ffa36b;
  transform: scale(1.01);
}
.card .text {
  padding: 2%;
  width: 100%;
}
.card .text .description {
  color: #3c5d75;
  height: 50%;
  overflow: scroll;
  cursor: ns-resize;
  line-height: 140%;
}

#event-details {
  color: #2c6da0;
}
#event-details h1 {
  color: #3c5d75;
  font-family: "Montserrat", sans-serif;
  padding: 5%;
}
#event-details h2,
#event-details h3,
#event-details b {
  color: #2c6da0 !important;
  margin-bottom: 12px;
}
#event-details a {
  color: #ee6f14;
}
#event-details .event-details__card {
  background: rgba(255, 255, 255, 0.75);
  border-radius: 20px 20px 50px 20px;
  margin-bottom: 7vh;
}
@media (max-width: 715px) {
  #event-details .event-details__card {
    border-radius: 35px;
    margin-bottom: 3vh;
  }
}
#event-details .event-details__card:not(.main__card) {
  padding: 3%;
}
@media (max-width: 1110px) {
  #event-details .event-details__card:not(.main__card) {
    padding: 5%;
  }
}
#event-details .event-details__card .address-name,
#event-details .event-details__card .transport {
  margin-bottom: 2px;
  color: #2c6da0;
}
#event-details .event-details__card .infos {
  color: #7a8c9b;
  overflow: hidden;
  text-overflow: ellipsis;
}
#event-details .event-details__card .inline-infos {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
#event-details .event-details__card .inline-infos img {
  margin-right: 12px;
}
#event-details .side-by-side__card {
  width: 48%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1110px) {
  #event-details .side-by-side__card {
    width: 100%;
  }
}
#event-details .img-and-title__ctnr {
  display: flex;
  align-items: center;
}
@media (max-width: 1110px) {
  #event-details .img-and-title__ctnr {
    flex-direction: column;
  }
}
#event-details .event-details__card__ctnr {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  #event-details .event-details__card__ctnr {
    flex-direction: column;
  }
}
#event-details .cover-xl {
  width: 50%;
  height: auto;
  border-radius: 20px 0 0 20px;
}
@media (max-width: 1110px) {
  #event-details .cover-xl {
    width: 100%;
  }
}
@media (max-width: 850px) {
  #event-details .cover-xl {
    border-radius: 15px 15px 0 0;
  }
}
#event-details .description__card p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 160%;
  color: #2c6da0;
}
@media (max-width: 715px) {
  #event-details .description__card p {
    font-size: 16px;
  }
}
#event-details .description__card img {
  width: 100%;
  border-radius: 15px 15px 35px 15px;
}

.favorite-truecolor, .favorite-falsecolor {
  cursor: pointer;
  transition: all 0.3s;
}
.favorite-truecolor::before, .favorite-falsecolor::before {
  content: "";
  background-size: 42px;
  display: inline-block;
  width: 42px;
  height: 42px;
  content: "";
}
.favorite-truecolor:hover, .favorite-falsecolor:hover {
  transform: scale(1.12);
}

.favorite-falsecolor::before {
  background-image: url("../../assets/coeur_inactive.png");
}

.favorite-truecolor::before {
  background-image: url("../../assets/coeur.png");
}

.home-content__ctnr {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px 20px 50px 20px;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.4);
}
@media (max-width: 850px) {
  .home-content__ctnr {
    border-radius: 10px 10px 60px 10px;
  }
}
.home-content__ctnr .display-event-cards {
  padding: 3vw 0 0 3vw;
}
.home-content__ctnr .display-event-cards .card-and-cover__ctnr {
  margin: 0;
}
@media (max-width: 850px) {
  .home-content__ctnr .display-event-cards .card-and-cover__ctnr {
    margin-top: 3vh;
  }
}
@media (min-width: 601px) and (max-width: 850px) {
  .home-content__ctnr .display-event-cards .card-and-cover__ctnr {
    margin: 0 0 0 30px;
  }
}
.home-content__ctnr .card {
  border-radius: 15px 0 35px 0;
  box-shadow: 0 0 0 transparent;
}
@media (max-width: 850px) {
  .home-content__ctnr .card {
    border-radius: 0 0 60px 10px;
  }
}
.home-content__ctnr .pink {
  border-radius: 15px 0 0 0;
}
@media (max-width: 850px) {
  .home-content__ctnr .pink {
    border-radius: 0 0 0 10px;
  }
}
@media (max-width: 850px) {
  .home-content__ctnr {
    background: transparent;
  }
  .home-content__ctnr .display-event-cards {
    padding: 0;
  }
}
@media (max-width: 600px) {
  .home-content__ctnr span {
    color: white;
  }
}

#magnifying-glass {
  font-size: 3em;
  display: inline-block;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.1em solid white;
  position: relative;
  border-radius: 0.35em;
  margin-right: 3rem;
}
#magnifying-glass::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.25em;
  bottom: -0.1em;
  border-width: 0;
  background: white;
  width: 0.35em;
  height: 0.08em;
  transform: rotate(45deg);
}

.message {
  background: rgba(245, 245, 245, 0.4);
  width: 50%;
  margin: 0 auto;
  padding: 7%;
  border-radius: 50px;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 3% 0;
  background: linear-gradient(90deg, rgba(255, 245, 110, 0.561) 50%, rgba(231, 90, 121, 0.7) 100%);
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.4);
  margin-bottom: 7vh;
  border-radius: 0 0 60px 0;
}
@media (max-width: 850px) {
  .navbar {
    margin-bottom: 3vh;
    border-radius: 0;
    padding: 6% 0;
  }
}
.navbar .nav-content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .nav-content h1 {
  white-space: nowrap;
  font-family: "Montserrat", sans-serif;
  color: #2c6da0;
  font-size: 60px;
  font-weight: 500;
}
@media (max-width: 850px) {
  .navbar .nav-content h1 {
    font-size: 35px;
  }
}
@media (max-width: 440px) {
  .navbar .nav-content h1 {
    font-size: 20px;
  }
}
.navbar .nav-content nav ul {
  display: flex;
}
.navbar .nav-content nav ul li {
  margin-left: 30px;
}
.navbar .nav-content nav ul li button {
  font-size: large;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  transition: transform 0.3s;
  color: #7a8c9b;
}
@media (min-width: 851px) {
  .navbar .nav-content nav ul li button {
    color: white;
  }
}
.navbar .nav-content nav ul li button:hover {
  transform: scale(1.1);
}
@media (max-width: 850px) {
  .navbar .nav-content nav {
    display: none;
  }
}
.navbar .nav-content nav.open {
  display: block;
}
.navbar .nav-content nav.open ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  padding: 7%;
  background: rgba(255, 255, 255, 0.85);
  -webkit-animation: fromTheTop 0.3s ease;
          animation: fromTheTop 0.3s ease;
  z-index: 3;
}
.navbar .nav-content nav.open ul li {
  margin: 0;
}
.navbar .nav-content nav.open ul li button {
  font-size: 40px;
  font-style: italic;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 851px) {
  .navbar .nav-content nav .mobile {
    display: none;
  }
  .navbar .nav-content nav .desktop {
    display: flex;
  }
}
@media (max-width: 850px) {
  .navbar .nav-content nav .mobile {
    display: block;
  }
  .navbar .nav-content nav .desktop {
    display: none;
  }
}
.navbar .nav-content .menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 3;
}
@media (min-width: 851px) {
  .navbar .nav-content .menu-btn {
    display: none;
  }
}
.navbar .nav-content .menu-btn.open .menu-btn__burger {
  transform: translateX(-25px);
  background: transparent;
  box-shadow: none;
}
.navbar .nav-content .menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(16px, -16px);
  background: #7a8c9b;
}
.navbar .nav-content .menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(16px, 16px);
  background: #7a8c9b;
}
.navbar .nav-content .menu-btn__burger {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.navbar .nav-content .menu-btn__burger::before, .navbar .nav-content .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  transition: all 0.4s ease-in-out;
}
.navbar .nav-content .menu-btn__burger::before {
  transform: translateY(-8px);
}
.navbar .nav-content .menu-btn__burger::after {
  transform: translateY(8px);
}

.search-input__ctnr {
  display: flex;
  padding: 3% 5%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  margin: 4vh 0;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.4);
}
.search-input__ctnr .search-icon {
  width: 35px;
  height: 35px;
  margin-right: 35px;
}
@media (max-width: 600px) {
  .search-input__ctnr .search-icon {
    margin-right: 12px;
  }
}
.search-input__ctnr .search-input {
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  color: white;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.search-input__ctnr .search-input::-moz-placeholder {
  color: white;
}
.search-input__ctnr .search-input:-ms-input-placeholder {
  color: white;
}
.search-input__ctnr .search-input::placeholder {
  color: white;
}
@media (max-width: 600px) {
  .search-input__ctnr .search-input::-moz-placeholder {
    font-size: 14px;
    transform: translateY(-6px);
  }
  .search-input__ctnr .search-input:-ms-input-placeholder {
    font-size: 14px;
    transform: translateY(-6px);
  }
  .search-input__ctnr .search-input::placeholder {
    font-size: 14px;
    transform: translateY(-6px);
  }
}

@media (min-width: 1111px) {
  .presentation__ctnr {
    display: flex;
  }
}
@media (max-width: 1110px) {
  .presentation__ctnr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 3vh;
         column-gap: 3vh;
  }
}
@media (max-width: 850px) {
  .presentation__ctnr {
    display: block;
  }
}

.presentation,
.actu-title {
  padding: 3% 5%;
}
@media (max-width: 1110px) {
  .presentation,
.actu-title {
    padding: 10%;
  }
}
@media (max-width: 850px) {
  .presentation,
.actu-title {
    padding: 15%;
  }
}

.presentation {
  border-radius: 20px 20px 50px 20px;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.4);
}
@media (max-width: 850px) {
  .presentation {
    border-radius: 10px 10px 60px 10px;
  }
}
.presentation h1 {
  font-weight: 600;
  font-style: italic;
}
.presentation:nth-of-type(1) {
  background-image: url("../../assets/paris.png");
  background-size: cover;
  background-position-x: right;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.presentation:nth-of-type(2) {
  background: rgba(132, 106, 246, 0.3);
}
.presentation:nth-of-type(3) {
  background: rgba(247, 170, 198, 0.644);
}
.presentation:nth-of-type(4) {
  background: rgba(255, 190, 150, 0.3);
}
.presentation:not(:nth-of-type(1)) {
  margin-left: 2%;
}
@media (max-width: 1110px) {
  .presentation:not(:nth-of-type(1)) {
    margin-left: 0;
  }
}
@media (min-width: 1111px) {
  .presentation {
    margin-bottom: 7vh;
  }
}
@media (max-width: 1110px) {
  .presentation {
    margin-bottom: 3vh;
    width: 100%;
  }
}

.actu-title {
  border-radius: 20px 20px 0 0;
  font-style: italic;
  font-weight: 500;
  color: #ff899c;
  background: linear-gradient(90deg, #efff96 10%, rgba(233, 105, 1, 0.4) 100%);
  display: flex;
  align-items: center;
}
@media (max-width: 1110px) {
  .actu-title {
    padding: 3%;
  }
}
@media (max-width: 850px) {
  .actu-title {
    margin-top: 6vh;
    border-radius: 10px 10px 0 0;
    padding: 6%;
    background: linear-gradient(90deg, #efff96 40%, #e694b2 100%);
  }
}
@media (max-width: 600px) {
  .actu-title h1 {
    font-size: 7vw;
  }
}/*# sourceMappingURL=style.css.map */