@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lobster&family=Rampart+One&display=swap");
body {
  background: #092135;
  width: 100vw;
  height: 100vh;
  font-family: "Lato", sans-serif;
}
body::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  background: url("../../assets/background.jpg");
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  /* Keep the background behind the content */
  /* pour Chrome et Safari */
  /* pour Firefox */
  /* pour Opera */
  background-size: cover;
  /* version standardisée */
}

main {
  width: 80%;
  margin: 0 auto;
}

.block {
  margin-bottom: 40px;
}

.miniblock {
  margin-bottom: 8px;
}

.pink,
.orange,
.yellow,
.aquamarine,
.blue,
.violet {
  width: 2%;
  height: auto;
  border-radius: 15px 0 0 15px;
}

.pink {
  background: #f7aac6;
}

.orange {
  background: #ffbe96;
}

.yellow {
  background: #fcffa4;
}

.aquamarine {
  background: #c2eedc;
}

.blue {
  background: #cfe7f5;
}

.violet {
  background: #d6cff5;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

ul {
  list-style-type: none;
}

fieldset,
button {
  border: none;
  background: none;
}

/* inputs */
input,
button,
textarea,
select {
  font-style: inherit;
  -webkit-padding-start: 0;
  align-items: flex-start;
  -webkit-appearance: none;
  outline: none;
  margin: 0;
  border: none;
}

textarea {
  resize: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=submit],
button {
  cursor: pointer;
}

h1 {
  font-family: "Lobster", cursive;
  font-size: 38px;
}

.date,
.price,
.address-name,
.transport {
  color: #7a8c9b;
  font-weight: 700;
  margin-bottom: 12px;
}

body {
  display: flex;
  justify-content: center;
}

.card-and-cover__ctnr {
  display: flex;
  margin-top: 3%;
  align-items: center;
  justify-content: center;
}

.cover {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 3%;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.575);
  border: solid 3px white;
  cursor: pointer;
  transition: all 0.3s;
}
.cover:hover {
  transform: scale(1.05);
}

.card {
  width: 100%;
  display: flex;
  background: #faf1f2;
  border-radius: 15px;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.575);
}
.card .tags {
  text-transform: lowercase;
  font-family: "Lobster", cursive;
  font-style: italic;
  color: #7a8c9b;
}
.card .favori__ctnr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .title {
  font-family: "Rampart One", cursive;
  color: #2c6da0;
  cursor: pointer;
  transition: all 0.3s;
  text-align: start;
}
.card .title:hover {
  color: #ffa36b;
  transform: scale(1.01);
}
.card .favori {
  height: 40px;
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.card .favori:hover {
  transform: scale(1.12);
}
.card .text {
  padding: 2%;
  width: 100%;
}
.card .text .description {
  color: #3c5d75;
  height: 50%;
  overflow: scroll;
  cursor: ns-resize;
  line-height: 140%;
}

#event-details h1 {
  color: #3c5d75;
  font-family: "Rampart One", cursive;
  padding: 3%;
}
#event-details h2,
#event-details h3 {
  color: #2c6da0;
  margin-bottom: 12px;
}
#event-details a {
  color: #ee6f14;
}
#event-details .event-details__card {
  background: rgba(255, 255, 255, 0.93);
  border-radius: 50px;
  margin-bottom: 7vh;
}
#event-details .event-details__card:not(.main__card) {
  padding: 3%;
}
#event-details .event-details__card .address-name,
#event-details .event-details__card .transport {
  margin-bottom: 2px;
  color: #2c6da0;
}
#event-details .event-details__card .infos {
  color: #7a8c9b;
}
#event-details .event-details__card .inline-infos {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
#event-details .event-details__card .inline-infos img {
  margin-right: 12px;
}
#event-details .side-by-side__card {
  width: 48%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
#event-details .img-and-title__ctnr {
  display: flex;
  align-items: center;
}
#event-details .event-details__card__ctnr {
  display: flex;
  justify-content: space-between;
}
#event-details .cover-xl {
  width: 50%;
  height: auto;
  border-radius: 35px 0 0 35px;
}
#event-details .description__card p {
  margin-bottom: 15px;
  font-size: 1.2rem;
  line-height: 160%;
  color: #2c6da0;
}

.home-content__ctnr {
  display: flex;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
}
.home-content__ctnr .display-event-cards {
  padding: 3%;
}

.nav-content {
  width: 80%;
  display: flex;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 3% 0;
  background: linear-gradient(90deg, rgba(137, 205, 245, 0.5) 50%, rgba(231, 90, 121, 0.7) 100%);
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.575);
  margin-bottom: 7vh;
  border-radius: 0 0 60px 60px;
}
nav h1 {
  white-space: nowrap;
  font-family: "Rampart One", cursive;
  color: white;
  font-size: 60px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
nav ul li {
  margin-left: 30px;
}
nav ul li button {
  font-size: large;
  color: white;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}
nav button {
  transition: transform 0.3s;
}
nav button:hover {
  transform: scale(1.1);
}

.search-input__ctnr {
  display: flex;
  padding: 3% 5%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
  width: 100%;
  margin-bottom: 3vh;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.575);
}
.search-input__ctnr .search-icon {
  width: 35px;
  height: 35px;
  margin-right: 35px;
}
.search-input__ctnr .search-input {
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  color: #FFA5C7;
  width: 100%;
}
.search-input__ctnr .search-input::-moz-placeholder {
  color: #7cb5e7;
}
.search-input__ctnr .search-input:-ms-input-placeholder {
  color: #7cb5e7;
}
.search-input__ctnr .search-input::placeholder {
  color: #7cb5e7;
}

.presentation__ctnr {
  display: flex;
}

.presentation,
.actu-title {
  padding: 3% 5%;
  border-radius: 50px;
  box-shadow: 10px 15px 26px -10px rgba(17, 25, 39, 0.575);
}

.presentation {
  color: white;
  margin-bottom: 7vh;
}
.presentation:nth-of-type(1) {
  background: rgba(166, 219, 250, 0.3);
}
.presentation:nth-of-type(2) {
  background: rgba(132, 106, 246, 0.3);
}
.presentation:nth-of-type(3) {
  background: rgba(247, 170, 198, 0.644);
}
.presentation:nth-of-type(4) {
  background: rgba(255, 190, 150, 0.3);
}
.presentation:not(:nth-of-type(1)) {
  margin-left: 2%;
}

.actu-title {
  color: #2c6da0;
  background: linear-gradient(90deg, #efff96 10%, rgba(233, 105, 1, 0.4) 100%);
  align-items: center;
}/*# sourceMappingURL=style.css.map */